.cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.main {
  padding-top: 3.8rem;  /* TODO: make so that app centers itself instead of pt in .main */
  padding-bottom: 2rem;
}